.jogo-caca-palavras-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.grid-container {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.grid-row {
  display: flex;
}

.grid-row button {
  width: 30px;
  height: 30px;
  margin: 2px;
  padding: 0;
  font-weight: bold;
}

.selecionada {
  background-color: #ffeb3b;
}

.botao-encontrado {
  background-color: #4caf50;
  color: #000000;
}

.palavras-lista {
  margin-top: 20px;
  text-align: center;
}

.palavras-lista ul {
  list-style-type: none;
  padding: 0;
}

.encontrada {
  text-decoration: line-through;
  color: #4caf50;
}

button {
  margin-top: 20px;
}

.botao-sair {
  margin-left: 10px;
}

.botao-sair {
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.jogo-caca-palavras-container mat-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.mensagem-vitoria {
  margin-top: 16px;
  font-size: 16px;
  color: green;
  text-align: center;
}
