<div class="jogo-memoria-container">
  <h2>Jogo da Memória</h2>
  <div class="cartas-grid">
    <mat-card *ngFor="let carta of cartas" (click)="virarCarta(carta)">
      <img
        *ngIf="carta.virada || carta.encontrada"
        [src]="carta.imagem"
        [alt]="carta.nome"
      />
      <div
        *ngIf="!carta.virada && !carta.encontrada"
        class="carta-costas"
      ></div>
    </mat-card>
  </div>
  <button mat-raised-button color="primary" (click)="reiniciarJogo()">
    Reiniciar Jogo
  </button>
  <div *ngIf="mensagem" class="mensagem">
    <div>{{ mensagem }}</div>
    <div>{{ curiosidade }}</div>
  </div>
</div>
